@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-card {
    @apply flex flex-col justify-center items-center bg-primary h-screen font-mono py-40;
}

.content-center {
    @apply flex flex-col justify-center items-center;
}

.dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-bg-dropDown: #4a5568;
    --color-bg-accent: #81e6d9;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-bg-dropDown: #e2e8f0;
    --color-bg-accent: #4593db;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
}